@model eShopSolution.ViewModels.System.Users.RegisterRequest


    <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active">Registration</li>
    </ul>
    <h3> Registration</h3>
    <div class="well">       
        <form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal">
            <h4>Your personal information</h4>
            <div asp-validation-summary="All" class="text-error">                
            </div>
            <div class="control-group">
                <label class="control-label" asp-for="FirtName">Firt name<sup>*</sup></label>
                <div class="controls">
                    <input type="text" asp-for="FirtName" placeholder="First Name">
                    <span asp-validation-for="FirtName" class="text-error"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputLnam">Last name <sup>*</sup></label>
                <div class="controls">
                    <input type="text" asp-for="LastName" placeholder="Last Name">
                    <span asp-validation-for="LastName" class="text-error"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" asp-for="Dob">Date of birth <sup>*</sup></label>
                <div class="controls">
                    <input type="date" asp-for="Dob" placeholder="Last Name">
                    <span asp-validation-for="Dob" class="text-error"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_email">Email <sup>*</sup></label>
                <div class="controls">
                    <input type="email" asp-for="Email" placeholder="Email">
                    <span asp-validation-for="Email" class="text-error"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" asp-for="UserName">UserName<sup>*</sup></label>
                <div class="controls">
                    <input type="text" asp-for="UserName" placeholder="User Name" />
                    <span asp-validation-for="UserName" class="text-error"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" asp-for="Password">Password <sup>*</sup></label>
                <div class="controls">
                    <input type="password" asp-for="Password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-error"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" asp-for="ConfirmPassword">ConfirmPassword <sup>*</sup></label>
                <div class="controls">
                    <input type="password" asp-for="ConfirmPassword" placeholder="Password">
                    <span asp-validation-for="ConfirmPassword" class="text-error"></span>
                </div>
            </div>

            <p><sup>*</sup>Required field	</p>

            <div class="control-group">
                <div class="controls">
                    <input type="hidden" name="email_create" value="1">
                    <input type="hidden" name="is_new_customer" value="1">
                    <input class="btn btn-large btn-success" type="submit" value="Register" />
                </div>
            </div>
        </form>
    </div>

